:root {
	--orange: #ff4b32;
	--bg-main: #e5e5e5;
}
.text-orange {
	color: var(--orange);
}
.bg-orange {
	background: var(--orange);
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.bg_banner {
	background-image: url("../img/png/baner.png");
	padding: 210px 0px 110px 0px;
}
.bg_banner-2 {
	background-image: url("../img/png/Follow.png");
}
.img_container {
	height: 265px;
	display: flex;
	align-items: center;
}

.load {
	border-top: 1px solid #0d0402;
	border-bottom: 1px solid #0d0402;
	max-width: 460px;
	max-height: 57px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: var(--orange);
	display: flex;
	justify-content: center;
	align-items: center;
}
