:root {
	--orange: #ff4b32;
	--bg-main: #e5e5e5;
}
.text-orange {
	color: var(--orange);
}
.bg-orange {
	background: var(--orange);
}
.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}
.bg_banner {
	background-image: url("../img/png/baner.png");
	padding: 210px 0px 110px 0px;
}
.bg_banner-2 {
	background-image: url("../img/png/Follow.png");
}
.bg_footer {
	background-image: url("../img/png/Footer.png");
    padding: 75px 0px 50px 0px;
}
.img_container {
	height: 265px;
	display: flex;
	align-items: center;
}

.load {
	border-top: 1px solid #0d0402;
	border-bottom: 1px solid #0d0402;
	max-width: 460px;
	max-height: 57px;
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: var(--orange);
	display: flex;
	justify-content: center;
	align-items: center;
}

.mb-140{
    margin-bottom: 140px;
}

li a {
	font-family: "Open Sans", sans-serif !important;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 160%;
	color: #ffffff !important;
	opacity: 0.6;
}

li a:hover {
	color: var(--orange) !important;
	opacity: 1;
	/* font-weight: bold; */
}
h1 {
	max-width: 524px;
    width: 100%;
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 58px;
	line-height: 120%;
}
h2 {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 43px;
	line-height: 130%;
}

h4 {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	line-height: 130%;
}
h5 {
	font-family: Josefin Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 150%;
}


p {
	font-family: Open Sans;
	font-style: normal;
	font-size: 16px;
	line-height: 160%;
    color: #000000;
	opacity: 0.7;
}